.hero {
    text-align: center;
    position: relative;
}

.hero-img {
    width: 60%;      
    max-width: 600px; 
    height: auto;    
    margin: 0 auto;  
    display: block;
}

.hero-content {
    position: relative;
    margin-top: 20px; 
    color: black;     
}
